#include <stdio.h>

int main(){
    
    int n,i,volume;
    float x,y,z;
    
    printf ("\nMasukkan banyaknya kotak yang akan anda bawa : ");
    scanf ("%d", &n);
        for(int i=1;i<=n;i++){
            printf("\nMasukkan panjang, lebar, dan tinggi dari kotak ke-%d = ",i);
            scanf("%f %f %f", &x, &y, &z);
            volume = x*y*z;
            if (z<=41 && z>=1)
                printf ("Volume dari kotak anda adalah %d\n",volume);
            else printf ("Maaf, kotak yang anda bawa melebihi maksimal tinggi yang diperbolehkan (41)\n");
        }
        return (0);
}
